@model IEnumerable<web.Models.Friendship>

@{
    ViewData["Title"] = "Index";
}

<h1>My friends</h1>
<br>
<p>
    <button class="add_field_button btn btn-success btn-md" ><a asp-action="Create" style="text-decoration: none;">Add new friend</a></button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <a>My friends</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFriend.Email)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
