@model web.Models.Plant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plant</h4>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantID" />

    <div class ="row">
        <div class="form-group col-md-5">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class ="row">
        <div class="form-group col-md-5">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" /></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>


    <div class ="row">
        <div class="form-group col-md-5">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
                <label asp-for="DaysBetweenWatering" class="control-label"></label>
                <input asp-for="DaysBetweenWatering" class="form-control" />
                <span asp-validation-for="DaysBetweenWatering" class="text-danger"></span>
        </div>
    </div>


    <div class ="row">
        <div class="form-group col-md-5">
            <label asp-for="LastWateredDate" class="control-label"></label>
            <input type="date" id="LastWateredDatePickerEdit" asp-for="LastWateredDate" class="form-control" />
            @* <input asp-for="LastWateredDate" class="form-control" /> *@
            <span asp-validation-for="LastWateredDate" class="text-danger"></span>
        </div>
        @* <div class="form-group col-md-5">
            <label asp-for="NextWateredDate" class="control-label"></label>
            <input asp-for="NextWateredDate" class="form-control" />
            <span asp-validation-for="NextWateredDate" class="text-danger"></span>
        </div> *@
        <div class="form-group col-md-5">
            <label class="control-label">Image</label>
            <input asp-for="image" type="file" class="form-control" id="file1" name="file1" multiple="multiple" />
            <span asp-validation-for="image" class="text-danger"></span>
        </div>
    </div>


    <div class ="row">
        <div class="form-group col-md-5">
            <label asp-for="Category" class="control-label"></label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Location" class="control-label"></label>
            <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID" ></select>
            <span asp-validation-for="LocationID" class="text-danger"></span>
        </div>
    </div>

    @* <div class ="row">
        
    </div> *@

            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
            </div>
           
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



<script>
    LastWateredDatePickerEdit.max = new Date().toISOString().split("T")[0];
</script>
