@model IEnumerable<web.Models.Plant>

@{
    ViewData["Title"] = "Index";
}

<h1>My plants</h1>

<p>
    <a asp-action="Create">Add new plant</a>
</p>


<div class="card-columns">

@foreach (var item in Model) {
    <div class="card">
                <div class="card-img" style="background-image: url(data:image/jpg;base64,@Convert.ToBase64String(item.image));"></div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Note</h6>

                    <p class="card-text">@item.Description</p>
                    <br>
                    <p class="card-text">Next watering @item.NextWateredDate.ToShortDateString()</p>
                    <button type="button" class="btn">Water</button>

                </div>
    </div>

}
</div>