@{
    ViewData["Title"] = "Home Page";
}
<body style="background: url('../bg.png');">

</body>
    <div class="text-center box">
        <h1 class="display-4 content_box title">Welcome to Pilea web app</h1>
    </div>
