/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.btn{
  background-color:#53787d ;
  border: #53787d;
}

.btn:hover{
  background-color:#6d989e ;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



/* Provide sufficient contrast against white background */
a {
  color: #101011;

}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
@media (min-width: 576px){

  
.head{
  background-color: #53787d;
}

a:hover{
  color: #101011;
}

.light{
  color: #EEE7DA;
  font-weight: bold;
}


.center{
  height: auto;
  margin: 0 auto;
  width: auto;
}

.nav-item{
  overflow: hidden;
  white-space: nowrap;
}

.nav-item {

    padding: .5rem;

}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;


}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
}


/*/////////////////////////////////////////CARDS/////////////////////////////////////////////////*/

.checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
  /*height: 100px;*/
  font-family: 'Nunito', sans-serif;
  background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
  background: #fbfafd;
}


a.navbar-brand {
  white-space: normal;
  font-family: 'Yellowtail', cursive;
  font-size: xx-large;
  text-align: center;
  word-break: break-all;
}



html, body {
  margin: 0;
  height: 100%;
}

.box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 20%;
  background-color: #ccc;
  border-radius: 3px;
  justify-content: center;
  justify-content: space-between;
  
}

.box{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 20%;
  background-color: #53787d;
  border-radius: 3px;
  justify-content: center;
}


.content_box {
  line-height: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space:nowrap;

}

.bg{
  background: url('../bg.png');
  background-size: cover;
}



@media (max-width: 980px) {
    .title{ 
        font-size: 45px; 
      }
}
  
@media (max-width: 780px) {
  .title{ 
      font-size: 30px; 
    }
}
@media (max-width: 580px) {
  .title{ 
      font-size: 20px; 
    }
}





