@model web.Models.Category

@{
    ViewData["Title"] = "Delete";
}

</br>
<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PlantCategory)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PlantCategory)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
